<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
           <a class="brand" href="#/admin/overview"><img alt="Steria" src="img/steria_logo2.png"> Quizzical</a>
           <p class="navbar-text pull-right">
               <button class="btn btn-link navbar-link" ng-click="logout()">Log out ({{user.username}})</button>
           </p>
           <ul class="nav">
               <li class="active"><a href="#/admin/overview">Overview</a></li>
               <li><a href="#/admin/addquiz">Add quiz</a></li>
               <li><a href="#/admin/results">Results</a></li>
               <li><a href="#/admin/changepw">Change password</a></li>
               <li><a href="#/admin/createUser">Create admin user</a></li>
           </ul>
        </div>
    </div>
</div>

<div class="admin-quiz-box">
    <h2 class="quiz-box-heading">Overview</h2>
	<div ng-repeat="quiz in quizzes | orderBy:'quizId'">
		<hr>		
	    <div class="row quiz-active-{{quiz.active}}">
	        <div class="span5">
	            <h4 class="quiz-box-question">{{quiz.quizName}} <div ng-show="!quiz.active">(not active)</div></h4>
				{{quiz.quizDesc}}
				<br><br>
	            <a href="#/answerQuiz/{{quiz.quizId}}?testMode=true"><button class="btn"><i class="icon-play"></i> Test</button></a>
	            <a href="#/admin/addquiz/{{quiz.quizId}}"><button class="btn"><i class="icon-pencil"></i> Edit</button></a>
	            <button ng-show="quiz.active" class="btn" ng-click="changeActiveStatusTo(false, quiz.quizId)"><i class="icon-ban-circle"></i> Deactivate</button>
	            <button ng-show="!quiz.active" class="btn" ng-click="changeActiveStatusTo(true, quiz.quizId)"><i class="icon-ok"></i> Activate</button>
	            <button class="btn" ng-click="removeQuiz(quiz)"><i class="icon-trash"></i> Delete</button>
	        </div>
	    </div>
    </div>
</div>