<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#/admin/overview"><img alt="Steria" src="img/steria_logo2.png"> Quizzical</a>
            <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">
                    Logged in as <a href="#" class="navbar-link">Nikolai</a>
                </p>
                <ul class="nav">
                    <li class="active"><a href="#/admin/overview">Overview</a></li>
                    <li><a href="#/admin/addquiz">Add quiz</a></li>
                    <li><a href="#/admin/results">Results</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="admin-quiz-box">
    <h2 class="quiz-box-heading">Overview</h2>
	<div ng-repeat="quiz in quizzes | orderBy:'quizId'">
		<hr>		
	    <div class="row quiz-active-{{quiz.active}}">
	        <div class="span5">
	            <h4 class="quiz-box-question">{{quiz.quizName}}</h4>
				{{quiz.quizDesc}}
				<br><br>
	            <a href="#/answerQuiz/{{quiz.quizId}}"><button class="btn"><i class="icon-play"></i> Test</button></a>
	            <a href="#/admin/addquiz/{{quiz.quizId}}"><button class="btn"><i class="icon-pencil"></i> Edit</button></a>
	            <button ng-show="quiz.active" class="btn" ng-click="changeActiveStatusTo(false, quiz.quizId)"><i class="icon-ban-circle"></i> Deactivate</button>
	            <button ng-show="!quiz.active" class="btn" ng-click="changeActiveStatusTo(true, quiz.quizId)"><i class="icon-ok"></i> Activate</button>
	            <button class="btn" ng-click="removeQuiz(quiz)"><i class="icon-trash"></i> Delete</button>
	        </div>
	    </div>
    </div>
</div>
