<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="brand" href="#/admin/overview"><img alt="Steria" src="img/steria_logo2.png"> Quizzical</a>
			<p class="navbar-text pull-right">
				<button class="btn btn-link navbar-link" ng-click="logout()">Log out ({{user.username}})</button>
			</p>
			<ul class="nav">
				<li><a href="#/admin/overview">Overview</a></li>
				<li><a href="#/admin/addquiz">Add quiz</a></li>
				<li><a href="#/admin/results">Results</a></li>
				<li class="active"><a href="#/admin/changepw">Change password</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="admin-quiz-box">
	<form name="changePasswordForm">
		<h2 class="quiz-box-heading">Change password</h2>
		<hr>

		<div class="row-fluid">
			<span class="span5 pull-left quiz-info-textbox">
				<input type="password" name="oldPassword" ng-model="changepw.oldPassword" placeholder="Old password" required="required">
			</span>
		</div>

		<div class="row-fluid">
			<span class="span5 pull-left quiz-info-textbox">
				<input type="password" name="newPassword1" ng-model="changepw.newPassword1" placeholder="New password" required="required">
			</span>
		</div>

		<div class="row-fluid">
			<span class="span5 pull-left quiz-info-textbox">
				<input type="password" name="newPassword2" ng-model="changepw.newPassword2" placeholder="Repeat new password" required="required">
			</span>
		</div>

		<hr>
		<button type="button" class="btn btn-large btn-primary" ng-click="submitChangePassword()" ng-disabled="changePasswordForm.$invalid">Submit</button>
	</form>
</div>
