<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#/admin/overview"><img alt="Sopra steria logo" src="img/soprasteria_small.png"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#/admin/overview">Overview</a></li>
        <li><a href="#/admin/addquiz">Add quiz</a></li>
        <li><a href="#/admin/results">Results</a></li>
        <li><a href="#/admin/changepw">Change password</a></li>
        <li class="active"><a href="#/admin/createUser">Create admin user</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      	<li><button class="btn btn-link navbar-link" ng-click="logout()">Log out ({{user.username}})</button></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container">
<div class="admin-quiz-box">
	<form name="changePasswordForm">
		<h2 class="quiz-box-heading">Create admin user</h2>
		<hr>

		<div class="row-fluid">
			<span class="span5 pull-left quiz-info-textbox">
				<input type="text" name="username" ng-model="createUser.username" placeholder="Username" required="required">
			</span>
		</div>

		<div class="row-fluid">
			<span class="span5 pull-left quiz-info-textbox">
				<input type="password" name="newPassword1" ng-model="createUser.newPassword1" placeholder="Password" required="required">
			</span>
		</div>

		<div class="row-fluid">
			<span class="span5 pull-left quiz-info-textbox">
				<input type="password" name="newPassword2" ng-model="createUser.newPassword2" placeholder="Repeat password" required="required">
			</span>
		</div>

		<hr>
		<button type="button" class="btn btn-lg btn-primary" ng-click="submitCreateUser()" ng-disabled="changePasswordForm.$invalid">Submit</button>
	</form>
</div>
</div>
