<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#/admin/overview"><img alt="Steria" src="img/steria_logo2.png"> Quizzical</a>
            <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">
                    Logged in as <a href="#" class="navbar-link">Nikolai</a>
                </p>
                <ul class="nav">
                    <li><a href="#/admin/overview">Overview</a></li>
                    <li><a href="#/admin/addquiz">Add quiz</a></li>
                    <li class="active"><a href="#/admin/results">Results</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="admin-quiz-box">
    <h2 class="quiz-box-heading">Results</h2>
	<div ng-repeat="quiz in quizzes">
	    <hr>
	    <div class="row">
	        <div class="span3">
	            <h4 class="quiz-box-question">{{quiz.quizName}}</h4>
	            <strong>Picked winner (from all respondents):</strong><br>
	            {{quiz.winner[0]}} {{quiz.winner[1]}}
	        </div>
	        <div class="span4">
	            <p class="lead text-success">
	                {{quiz.responses}} respondents
					<br>
					<button type="button" class="btn" ng-click="drawRandomWinner(quiz.quizId)" ng-disabled="quiz.responses < 1">Pick a random winner</button>
					<button type="button" class="btn" ng-click="showRespondents(quiz.quizId)">Show respondents</button>
	            </p>
	        </div>
	  	</div>
	    <div class="row" ng-show="true">
	    	<table class="table">
	    		<tr>
	    			<th>#</th>
	    			<th>Name</th>
	    			<th>Email</th>
	    			<th>Score</th>
	    		</tr>
	    		<tr ng-repeat="respondent in respondentsList">
	    			<td>{{$index + 1}}</td>
	    			<td>{{respondent.name}}</td>
	    			<td>{{respondent.email}}</td>
	    			<td>{{respondent.score}}</td>
	    		</tr>
	    	</table>
	    </div>
	</div>
</div>
