<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#/admin/overview"><img alt="Steria" src="img/steria_logo2.png"> Quizzical</a>
            <p class="navbar-text pull-right">
                <button class="btn btn-link navbar-link" ng-click="logout()">Log out ({{user.username}})</button>
            </p>
            <ul class="nav">
                <li><a href="#/admin/overview">Overview</a></li>
                <li class="active"><a href="#/admin/addquiz">Add quiz</a></li>
                <li><a href="#/admin/results">Results</a></li>
				<li><a href="#/admin/changepw">Change password</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="admin-quiz-box">
	<form name="createQuizForm">
		<h2 class="quiz-box-heading">Add quiz</h2>
		<h4 class="" ng-show="isEditing">(editing quiz "{{newquiz.quizName}}")</h4>
		<div class="alert alert-info" ng-show="isEditing && newquiz.responses > 0">
			<button type="button" class="close" data-dismiss="alert">x</button>
			<span class="text-info">The quiz has already received responses, please be careful when editing.</span>
		</div>
		<hr>
		
		<div class="row-fluid quiz-info">
		
				<span class="span7 pull-right quiz-info-text">
					Type a name for the quiz here.
				</span>
				<span class="span5 pull-left quiz-info-textbox">
					<input type="text" name="quizName" ng-model="newquiz.quizName" placeholder="Type a name for the quiz" required="required">
				</span>

		</div>
		

		<div class="row-fluid quiz-info">
			
				<span class="span7 pull-right quiz-info-text">
					This text will be shown to the user when the link is opened, right before the quiz starts.
				</span>
				<span class="span5 pull-left quiz-info-textbox">
					<textarea class="ta-no-resize" name="quizDescription" ng-model="newquiz.quizDesc" placeholder="Describe the quiz here..."></textarea>
				</span>
			
		</div>

		<div class="row-fluid quiz-info">
				<span class="span7 pull-right quiz-info-text">
					Type a message that the user will receive after the user has answered the quiz. You may for instance inform when the winner is announced and so on.
				</span>
				<span class="span5 pull-left quiz-info-textbox">
					<textarea class="ta-no-resize" name="quizSubmitMsg" ng-model="newquiz.submitMsg" placeholder="Type a final message to the user here..."></textarea>
				</span>
		</div>

		<div class="row-fluid quiz-info">
				<span class="span7 pull-right quiz-info-text">
					Pick a language for the gui of the quiz.
				</span>
				<span class="span5 pull-left quiz-info-textbox">
					<select ng-model="newquiz.language" ng-options="language.name for language in languages" required="required"></select>
				</span>
		</div>
		
		<div class="add-question-row" ng-repeat="q in newquiz.questions">
			<div class="row-fluid">
				<div class="span12">
				
					<div class="row-fluid">
						<div class="span12">
							<hr class="hr-question-border">
							<div class="row-fluid">
								<h4 class="quiz-question-number">Question {{$index + 1}}</h4>
								<a class="btn btn-small btn-danger pull-right" ng-click="removeQuestion(newquiz.questions, $index)"><i class="icon-trash"></i></a>
							</div>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span12">
							<div class="add-question-text">
								<textarea class="add-question-text ta-no-resize" name="questionName" ng-model="q.text" placeholder="Type question here..." required="required"></textarea>
							</div>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span12 add-question-options">
							<table class="table">
								<tr>
									<th>Type in answer alternatives</th>
									<th class="add-alternative-center correct-answer-col">Correct answer?</th>
									<th class="add-alternative-center">Delete</th>
								</tr>
								<tr class="add-question-alternatives" ng-repeat="qa in q.alternatives">
									<td>
										<input class="add-question-textbox" type="text" name="qaText{{qa.aid}}" ng-model="qa.atext" placeholder="Type answer alternative here" title="Type answer alternative here">
									</td>
									<td class="correct-answer-col">
										<label class="add-question-radio add-alternative-center">
											<input type="radio" name="isCorrect{{q.id}}" value="{{qa.aid}}" ng-model="q.answer" required="required">
										</label>
									</td>
									<td class="add-alternative-center">
										<a class="btn" ng-click="removeAlternative(q, $index)"><i class="icon-trash"></i></a>
									</td>
								</tr>
							</table>
							<button type="button" class="btn btn-small" ng-click="addAlternative(q)"><i class="icon-plus"></i> Add alternative</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr class="hr-question-border">
		
		<div class="row">
			<span class="span9 text-center">
				<button type="button" class="btn btn-medium" ng-click="addQuestion()"><i class="icon-plus"></i> Add question</button>
			</span>
		</div>
		<hr>
		<button type="button" class="btn btn-large btn-primary" ng-click="submitQuiz()" ng-disabled="createQuizForm.$invalid">Save quiz</button>
	</form>
</div>
