<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#/admin/overview"><img alt="Sopra steria logo" src="img/soprasteria_small.png"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#/admin/overview">Overview</a></li>
        <li class="active"><a href="#/admin/addquiz">Add quiz</a></li>
        <li><a href="#/admin/results">Results</a></li>
        <li><a href="#/admin/changepw">Change password</a></li>
        <li><a href="#/admin/createUser">Create admin user</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      	<li><button class="btn btn-link navbar-link" ng-click="logout()">Log out ({{user.username}})</button></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>


<div class="container">

<div class="admin-quiz-box">
	<form name="createQuizForm">
		<h2 class="quiz-box-heading">Add quiz</h2>
		<h4 class="" ng-show="isEditing && !newquiz.duplicate">(editing quiz "{{newquiz.quizName}}")</h4>
		<div class="alert alert-info" ng-show="isEditing && newquiz.responses > 0 && !newquiz.duplicate">
			<button type="button" class="close" data-dismiss="alert">x</button>
			<span class="text-info">The quiz has already received responses, please be careful when editing.</span>
		</div>
		<hr>
		
		<div class="row quiz-info">
		
				<p class="col-md-7 pull-right quiz-info-text">
					Type a name for the quiz here.
				</p>
				<div class="col-md-5 pull-left quiz-info-textbox form-group">
					<label for="quizName" class="sr-only">Quiz name</label>
					<input class="form-control" type="text" name="quizName" ng-model="newquiz.quizName" placeholder="Type a name for the quiz" required="required">
				</div>
		</div>

		<div class="row quiz-info">
			
				<p class="col-md-7 pull-right quiz-info-text">
					This text will be shown to the user when the link is opened, right before the quiz starts.
				</p>
				<div class="form-group col-md-5 pull-left quiz-info-textbox">
					<label for="quizDescription" class="sr-only">Quiz description</label>
					<textarea class="ta-no-resize form-control" name="quizDescription" ng-model="newquiz.quizDesc" placeholder="Describe the quiz here..."></textarea>
				</div>
		</div>

		<div class="row quiz-info">
				<p class="col-md-7 pull-right quiz-info-text">
					Type a message that the user will receive after the user has answered the quiz. You may for instance inform when the winner is announced and so on.
				</p>
				<div class="form-group col-md-5 pull-left quiz-info-textbox">
					<label for="quizSubmitMsg" class="sr-only">Quiz submit message</label>
					<textarea class="ta-no-resize form-control" name="quizSubmitMsg" ng-model="newquiz.submitMsg" placeholder="Type a final message to the user here..."></textarea>
				</div>
		</div>

		<div class="row quiz-info">
				<p class="col-md-7 pull-right quiz-info-text">
					Pick a language for the gui of the quiz.
				</p>
				<div class="form-group col-md-5 pull-left quiz-info-textbox">
					<label for="language" class="sr-only">Quiz language</label>
					<select name="language" class="form-control" ng-model="newquiz.language" ng-options="language.name for language in languages" required="required"></select>
				</div>
		</div>

		<div class="row quiz-info">
				<p class="col-md-7 pull-right quiz-info-text">
					Show correct answer after each question
				</p>
				<div class="form-group col-md-5 pull-right quiz-info-textbox">
					<input class="form-control" type="checkbox" name="showAnswer" ng-model="newquiz.showAnswer">
				</div>
		</div>
		
		<div class="add-question-row" ng-repeat="q in newquiz.questions">
			<div class="row">
				<div class="col-md-12">
				
					<div class="row">
						<div class="col-md-12">
							<hr class="hr-question-border">
							<div class="row">
								<h4 class="quiz-question-number">Question {{$index + 1}}</h4>
								<a class="btn btn-sm btn-danger pull-right" ng-click="removeQuestion(newquiz.questions, $index)"><span class="glyphicon glyphicon-trash"></span></a>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="add-question-text">
								<textarea class="add-question-text ta-no-resize form-control" name="questionName" ng-model="q.text" placeholder="Type question here..." required="required"></textarea>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 add-question-options">
							<table class="table">
								<tr>
									<th>Type in answer alternatives</th>
									<th class="add-alternative-center correct-answer-col">Correct answer?</th>
									<th class="add-alternative-center">Delete</th>
								</tr>
								<tr class="add-question-alternatives" ng-repeat="qa in q.alternatives" ng-class="{success: q.answer == qa.aid}">
									<td>
										<label for="qaText{{qa.aid}}" class="sr-only">Answer alternative</label>
										<input class="add-question-textbox form-control" type="text" name="qaText{{qa.aid}}" ng-model="qa.atext" placeholder="Type answer alternative here" title="Type answer alternative here" required="required">
									</td>
									<td class="correct-answer-col text-center">
										<label for="isCorrect{{q.id}}" class="sr-only">Is correct?</label>
										<input type="radio" name="isCorrect{{q.id}}" value="{{qa.aid}}" ng-model="q.answer" required="required">
									</td>
									<td>
										<button type="button" class="btn btn-sm pull-right" ng-click="removeAlternative(q, $index)"><span class="glyphicon glyphicon-trash"></span></button>
									</td>
								</tr>
							</table>
							<button id="addAlternative-{{$index}}" type="button" class="btn btn-sm" ng-click="addAlternative(q)"><span class="glyphicon glyhpicon-plus"></span> Add alternative</button>


							<div class="row quiz-info">
								<p class="col-md-7 pull-right quiz-info-text">
									Question has a text answer (not alternatives).
								</p>
								<div class="form-group col-md-5 pull-right quiz-info-textbox">
									<input class="form-control pull-left answerInText" type="checkbox" ng-model="q.answerInText" ng-click="setAnswerInText($index, $event)" style="width: 50px">
								</div>
							</div>

						</div>
					</div>


				</div>
			</div>
		</div>
		<hr class="hr-question-border">
		
		<div class="row">
			<span class="col-md-12 text-right">
				<button type="button" class="btn" ng-click="addQuestion()"><span class="glyphicon glyhpicon-plus"></span> Add question</button>
			</span>
		</div>
		<hr>
		<button type="button" class="btn btn-lg btn-primary" ng-click="submitQuiz()" ng-disabled="createQuizForm.$invalid">Save quiz</button>
	</form>
</div>
	
</div>