<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#/admin/overview"><img alt="Steria" src="img/steria_logo2.png"> Quizzical</a>
            <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">
                    Logged in as <a href="#" class="navbar-link">Nikolai Hyldmo</a>
                </p>
                <ul class="nav">
                    <li class="active"><a href="#/admin/overview">Overview</a></li>
                    <li><a href="#/admin/addquiz">Add quiz</a></li>
                    <li><a href="#/admin/results">Results</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="admin-quiz-box">
    <h2 class="quiz-box-heading">Overview</h2>
	<div ng-repeat="quiz in quizzes">
		<hr>		
	    <div class="row">
	        <div class="span4">
	            <h4 class="quiz-box-question">{{quiz.quizName}}</h4>
				{{quiz.quizDesc}}
	        </div>
	        <div class="span1 pull-right">
	            <a href="#/answerQuiz/{{quiz.quizId}}"><button class="btn btn-success btn-block"><i class="icon-play"></i> Test</button></a>
	            <a href="#/admin/addquiz/{{quiz.quizId}}"><button class="btn btn-warning btn-block"><i class="icon-pencil"></i> Edit</button></a>
	            <button class="btn btn-danger btn-block"><i class="icon-remove"></i> Delete</button>
	        </div>
	    </div>
    </div>
</div>
