<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#"><img alt="Steria" src="img/steria_logo2.png"> Quizzical</a>
        </div>
    </div>
</div>

<div class="answer-quiz-box" ng-controller="AnswerQuizCtrl">

	<h2 class="quiz-box-heading">{{quiz.quizName}}</h2>
	
	<div class="" ng-show="isCurrent(-2)">
		<div class="alert alert-error">
			<i class="icon-warning-sign"></i>
			{{errorMsg}}
		</div>
		<br><br>
	</div>
	<div class="" ng-show="isCurrent(-1)">
		<br>
		<div class="text-center">Loading...</div>
		<div class="progress progress-striped active">
			<div class="bar" style="width: 100%;"></div>
		</div>
		<br><br>
	</div>
	<form name="quizForm">
	
		<div class="" ng-show="isCurrent(0)">
			<p class="quiz-box-description">{{quiz.quizDesc}}</p>
			<br><br>
			<button class="btn btn-large btn-primary" ng-click="nextQuestion()">Start quiz</button>
		</div>
		
		<div ng-repeat="q in questions" ng-show="isCurrent(q.id)">
			<h4 class="quiz-box-question">{{q.text}}</h4>
			<div ng-repeat="qa in q.alternatives">
				<label class="radio quiz-input-choice-box {{isRadioBtnSelected(q, qa)}} ql{{q.id}}">
					<input type="radio" ng-model="q.isChecked" name="q{{q.id}}" value="{{qa.aid}}" ng-click="updateAnswers(q.id, qa.aid)">
					{{qa.atext}}
				</label>
			</div>
			<br>
			<a class="hide" ng-click="prevQuestion()">Previous question</a>
			<button class="btn btn-large btn-primary" ng-click="checkRadioButtons(q.id)">Next question</button>
		</div>
		
		<div ng-show="isCurrent(questions.length+1)">
			<p class="quiz-box-description">Please fill out the following fields in order to enter to win</p>
			
			<span ng-show="quizForm.name.$error.required" class="text-error">Required</span>
			<input type="text" class="input-block-level" name="name" placeholder="Name" ng-model="userName" required="required">
			
			<span ng-show="quizForm.email.$error.required" class="text-error">Required</span>
			<span ng-show="quizForm.email.$error.email" class="text-error">Not a valid email address</span>
			<input type="email" class="input-block-level" name="email" placeholder="Email address" ng-model="userEmail" required="required">
			
			<br><br>
			<input type="hidden" name="quizId" value="{{quiz.quizId}}">
			<button class="btn btn-large btn-primary" ng-click="submitQuiz()" ng-disabled="quizForm.$invalid">Submit answers</button>
		</div>
	</form>
	
	<div ng-show="isCurrent(questions.length+2)">
		<h4>The quiz is now submitted! Thank you for taking the quiz!</h4>
		<p>{{quiz.submitMsg}}
	</div>
	
</div>
