<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#"><img alt="Steria" src="img/steria_logo2.png"> Quizzical</a>
        </div>
    </div>
</div>

<div class="answer-quiz-box" ng-controller="AnswerQuizCtrl" ng-init="init()">

	<h2 class="quiz-box-heading">{{quiz.quizName}}</h2>
	
	<div class="" ng-show="isCurrent(-2)">
		<div class="alert alert-error">
			<i class="icon-warning-sign"></i>
			{{errorMsg}}
		</div>
		<br><br>
	</div>
	<div class="" ng-show="isCurrent(-1)">
		<br>
		<div class="text-center">Loading...</div>
		<div class="progress progress-striped active">
			<div class="bar" style="width: 100%;"></div>
		</div>
		<br><br>
	</div>
	<form name="quizForm">
	
		<div class="" ng-show="isCurrent(0)">
			<p class="quiz-box-description">{{quiz.quizDesc}}</p>
			<br><br>
			<button class="btn btn-large btn-primary" ng-click="nextQuestion()">{{i18n('startQuiz')}}</button>
		</div>
		
		<div ng-repeat="q in questions" ng-show="isCurrent(q.id)">
			<h4 class="quiz-box-question">{{q.text}}</h4>
			<div ng-repeat="qa in q.alternatives">
				<label class="radio quiz-input-choice-box {{isRadioBtnSelected(q, qa)}} ql{{q.id}}">
					<input type="radio" ng-model="q.isChecked" name="q{{q.id}}" value="{{qa.aid}}" ng-click="updateAnswers(q.id, qa.aid)">
					{{qa.atext}}
				</label>
			</div>
			<br>
			<a class="hide" ng-click="prevQuestion()">{{i18n('previousQuestion')}}</a>
			<button class="btn btn-large btn-primary" ng-click="checkRadioButtons(q.id)">{{i18n('nextQuestion')}}</button>
			<br><br>
			{{i18n('questionCap')}} {{currentQuestion}} {{i18n('questionOf')}} {{questions.length}}
		</div>

		<div ng-show="isCurrent(questions.length+1)">
			<p class="quiz-box-description">{{i18n('fillUserInfo')}}</p>
			
			<span ng-show="quizForm.name.$error.required" class="text-error">{{i18n('required')}}</span>
			<input type="text" class="input-block-level" name="name" placeholder="{{i18n('name')}}" ng-model="userName" required="required">
			
			<span ng-show="quizForm.email.$error.required" class="text-error">{{i18n('required')}}</span>
			<span ng-show="quizForm.email.$error.email" class="text-error">{{i18n('invalidEmail')}}</span>
			<input type="email" class="input-block-level" name="email" placeholder="{{i18n('email')}}" ng-model="userEmail" required="required">

			<input type="text" class="input-block-level" name="company" placeholder="{{i18n('company')}}" ng-model="userCompany">

			<input type="text" class="input-block-level" name="phoneNumber" placeholder="{{i18n('phone')}}" ng-model="userPhoneNumber">

			<br><br>
			<input type="hidden" name="quizId" value="{{quiz.quizId}}">
			<button class="btn btn-large btn-primary" ng-click="submitQuiz()" ng-disabled="quizForm.$invalid">{{i18n('submitAnswers')}}</button>
		</div>
	</form>

	<div ng-show="isCurrent(questions.length+2)">
		<h4>{{i18n('submitted')}}</h4>
		<p>{{quiz.submitMsg}}<br/>
		<br/>
		<a onclick="window.location.reload()" style="cursor: pointer;">{{i18n('restartQuiz')}}</a>
	</div>

	<div ng-show="testMode">
		<a href="#/admin/">You are in test mode. Click here to return to the admin overview.</a>
	</div>

</div>
