
<div ng-controller="FrontCtrl" ng-init="init()">
	<!-- Fixed navbar -->
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="brand" href="#/admin/overview"><img alt="Sopra steria logo" src="img/soprasteria_small.png"></a>
	    </div>
	  </div>
	</nav>
	
	<div class="container">
	<div class="answer-quiz-box">
		<form class="quizForm" action="login" method="POST">
			<h2 class="quiz-box-heading">Admin area login</h2>
			<div class="form-group">
				<label for="user">Username</label>
				<input type="text" class="form-control" name="user" placeholder="Username" tabindex="1" required="required"/>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" name="password" placeholder="Password" tabindex="2" required="required"/>
			</div>
			<button type="submit" class="btn btn-lg btn-primary" name="loginButton" tabindex="3">Login</button>
		</form>

		<div ng-show="loginFailed">Wrong username or password. Please try again.</div>
	</div>
</div>
</div>