
<div class="quiz-box" ng-controller="AnswerQuizCtrl">

	<h2 class="quiz-box-heading">{{quiz.quizName}}</h2>
	
	<form name="quizForm" method="get" action="submit">
		<div class="" ng-show="isCurrent(0)">
			<p class="quiz-box-description">{{quiz.quizDesc}}</p>
			<br><br>
			<button class="btn btn-large btn-primary" ng-click="nextQuestion()">Start quiz</button>
		</div>
		
		<div ng-repeat="q in questions" ng-show="isCurrent(q.id)">
			<h4 class="quiz-box-question">{{q.text}}</h4>
			<label class="radio quiz-input-choice-box ql{{q.id}}" ng-repeat="qa in q.alternatives">
				<input type="radio" class="quiz-input-choice" name="q{{q.id}}" value="{{qa.aid}}" ng-click="chooseOption(q.id)">
				{{qa.atext}}
			</label>
			<br>
			<a class="hide" ng-click="prevQuestion()">Previous question</a>
			<button class="btn btn-large btn-primary" ng-click="checkRadioButtons(q.id)">Next question</button>
		</div>
		
		<div ng-show="isCurrent(questions.length+1)">
			<p class="quiz-box-description">Please fill out the following fields in order to enter to win</p>
			<input type="text" class="input-block-level" name="name" placeholder="Name" ng-model="userName" required="required">
			<input type="email" class="input-block-level" name="email" placeholder="Email address" ng-model="userEmail" required="required">
			<br><br>
			<input type="hidden" name="quizId" value="{{quiz.quizId}}">
			<button class="btn btn-large btn-primary" ng-click="submitQuiz()">Submit answers</button>
		</div>
	</form>
	
	<div ng-show="isCurrent(questions.length+2)">
		<h4>The quiz is now submitted! Thank you for taking the quiz!</h4>
		<p>{{quiz.submitMsg}}
	</div>
	
</div>
