
<div class="quiz-box" ng-controller="AnswerQuizCtrl">

	<h2 class="quiz-box-heading">Geography Quiz</h2>
	
	<form method="post" action="">
		<div class="" ng-show="showBox(0)">
			<p class="quiz-box-description">{{quiz.descr}}Description field. This is a geography quiz about norwegian geography. </p>
			<br><br>
			<button class="btn btn-large btn-primary" ng-click="nextQuestion()">Start quiz</button>
		</div>
		
		<div ng-repeat="q in questions" ng-show="isCurrent(q)">
			<h4 class="quiz-box-question">{{q.text}}What is the capital of Norway?</h4>
			<label class="radio quiz-input-choice-box" ng-repeat="qa in q.alternatives">
				<input type="radio" class="quiz-input-choice" name="quiz-choice{{q.id}}" value="{{qa.alt}}" ng-model="ansValue" ng-click="chooseOption()" required="required">
				{{qa.atext}}
			</label>
			<br>
			<a class="hide" ng-click="prevQuestion()">Previous question</a>
			<button class="btn btn-large btn-primary" ng-click="nextQuestion()">Next question</button>
		</div>
	</form>
</div>
