body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    background-color: #f5f5f5;
}

.navbar-fixed-top .navbar-inner {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}

.admin-quiz-box {
    max-width: 550px;
    padding: 10px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.quiz-box .quiz-box-heading {
    margin-bottom: 10px;
}

@media (max-width: 380px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}

textarea.ta-no-resize {
 	resize: none;
}

label.add-question-radio {
	 padding: 10px;
}

.add-question-radio input[type="radio"]:required {
	box-shadow: none;
}

.quiz-active-false{
	background-color: #e5e5e5;
}
.quiz-active-true{
		
}

.quiz-question-number {
	display: inline;
	margin-top: 5px;
	vertical-align: middle;
}

table th.add-alternative-center, .add-alternative-center, table td.add-alternative-center {
	text-align: center;
}

.add-question-textbox {
	width: 90%;
	margin-top: 10px;
}

tr.add-question-alternatives td {
	vertical-align: middle;
}

.table td.text-right {
	text-align: right;
}

hr.hr-question-border {
	border-top-color: #000;
}

.table.question-header-table th {
	/*border-color: #000;
	border-top-color: #000; */
}

.align-middle {
	vertical-align: middle;
}

.add-question-options {
	padding-top: 15px;
	padding-bottom: 15px;
}

.add-question-text {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.correct-answer-col {
	max-width: 5em;
}

.quiz-info {
	margin: 18px 0px 18px 0px !important;
}

.quiz-info-text {
/*  	margin-left: 10px !important; */
}

.quiz-info-textbox {
	margin-left: 0px !important;
}
