body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	background-color: #f5f5f5;
}

.navbar-fixed-top .navbar-inner {
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}

.quiz-box {
	max-width: 350px;
	padding: 10px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.quiz-box .quiz-box-heading {
	margin-bottom: 10px;
}

.quiz-input-choice {
	
}

.quiz-input-choice-box {
	border: 1px solid #ddd;
	border-radius: 12px; 
	padding: 0.5em 2.0em 0.5em 2.0em;
	/*margin:*/
}
.quiz-input-choice-box:hover {
	background-color: #f9b49b; /*F57921*/
	color: #000000;
}
.quiz-input-choice-box-selected {
	background-color: #f57921;/*F15A23*/
	color: #ffffff;	
}
.quiz-input-choice-box:ACTIVE {
	background-color: #f57921;
}
.quiz-input-choice:required {
	box-shadow: none;
}

.add-question-radio {
	 vertical-align: top;
}

