<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	metadata-complete="false">

	<servlet>
		<servlet-name>quizServlet</servlet-name>
		<servlet-class>no.steria.quizzical.QuizServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>quizServlet</servlet-name>
		<url-pattern>/retrieveQuiz/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>quizServlet</servlet-name>
		<url-pattern>/submitQuiz/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>adminServlet</servlet-name>
		<servlet-class>no.steria.quizzical.admin.AdminServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>adminServlet</servlet-name>
		<url-pattern>/adminQuiz/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>adminPasswordServlet</servlet-name>
		<servlet-class>no.steria.quizzical.admin.AdminPasswordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminPasswordServlet</servlet-name>
		<url-pattern>/adminPassword/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>createUserServlet</servlet-name>
		<servlet-class>no.steria.quizzical.admin.AdminCreateUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>createUserServlet</servlet-name>
		<url-pattern>/createUser/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>no.steria.quizzical.admin.LoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>

</web-app>
