<?xml version="1.0" encoding="UTF8"?>
<webapp version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchemainstance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/webapp_3_0.xsd"
	metadatacomplete="false">

	<servlet>
		<servletname>quizServlet</servletname>
		<servletclass>no.steria.quizzical.QuizServlet</servletclass>
	</servlet>

	<servletmapping>
		<servletname>quizServlet</servletname>
		<urlpattern>/retrieveQuiz/*</urlpattern>
	</servletmapping>

	<servletmapping>
		<servletname>quizServlet</servletname>
		<urlpattern>/submitQuiz/*</urlpattern>
	</servletmapping>

	<servlet>
		<servletname>adminServlet</servletname>
		<servletclass>no.steria.quizzical.AdminServlet</servletclass>
	</servlet>

	<servletmapping>
		<servletname>adminServlet</servletname>
		<urlpattern>/adminQuiz/*</urlpattern>
	</servletmapping>

	<servlet>
		<servletname>loginServlet</servletname>
		<servletclass>no.steria.quizzical.LoginServlet</servletclass>
	</servlet>

	<servletmapping>
		<servletname>loginServlet</servletname>
		<urlpattern>/login</urlpattern>
	</servletmapping>


	<servlet>
		<servletname>statusServlet</servletname>
		<servletclass>no.steria.quizzical.StatusServlet</servletclass>
	</servlet>

	<servletmapping>
		<servletname>statusServlet</servletname>
		<urlpattern>/status</urlpattern>
	</servletmapping>
</webapp>
